<div class="modal-header"><h1>Your life is about to change</h1></div>
<div class="modal-body">
    <p><strong>/myoo/</strong> is exactly what you've wanted. Wealth? Prosperity? Happiness? /myoo/ will bring you all
        things. It is anything and everything. Don't stare directly at the /myoo/. You may go blind.</p>
    <h2>Seriously though</h2>
    <p>/myoo/ is a project and achievement tracking web application. It's intended to be a fun, gamified way to track
        your progress on various goals. You can see how well you're doing and even compare your status with other
        users.</p>
    <h2>Getting started</h2>
    <p>You'll want to subscribe to some projects. Use the arrow in the top right corner and choose Manage Projects to
        find something you're interested in. Once you get the gist of what /myoo/ is about, you can try your hand at
        creating your own projects.</p>
</div>
<div class="modal-footer"><a class="btn btn-info" ng-click="$close()">Got it!</a></div>