<!doctype html>
<html lang="en" ng-app="Myoo">
<head>
    <title>/myoo/</title>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="myoo.css"/>
</head>
<body>
<div class="container-fluid">
    <h1><a href="">/myoo/</a>
        <small>Ask for it by name</small>
    </h1>
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="pull-right" dropdown>
                <a href="" dropdown-toggle><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                <ul class="dropdown-menu dropdown-menu-right" ng-controller="HamburgerMenuController">
                    <li><a href="" ng-click="showManageProjects()">Manage projects</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="">Sign out</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-9 col-md-offset-3 padding-md">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="">Record</a></li>
                        <li><a href="">Review</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" ng-controller="ProjectSidebarController">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-repeat="project in userProjects | sort"><a href="">{{ project.name }}</a></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <div class="list-group">
                        <a href="" class="list-group-item">
                            <div class="thumbnail pull-left"></div>
                            <h4>Achievement 1</h4>

                            <p>Achievement 1 description</p>
                        </a>
                        <a href="" class="list-group-item">
                            <div class="thumbnail pull-left"></div>
                            <h4>Achievement 2</h4>

                            <p>Achievement 2 description</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <small>&copy; 2015 Osha Fuangkasae</small>
        </div>
    </div>
</div>
<script src="components/angular/angular.min.js"></script>
<script src="components/angular-resource/angular-resource.min.js"></script>
<script src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="myoo.js"></script>
<script src="services.js"></script>
</body>
</html>