<!doctype html>
<html lang="en" ng-app="Myoo">
<head><title>/myoo/</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css"/>
    <!-- build:css myoo.min.css -->
    <link rel="stylesheet" href="myoo.css"/>
    <!-- /build -->
</head>
<body>
<div class="container-fluid">
    <h1><a href="">/myoo/</a>
        <small>Ask for it by name</small>
    </h1>
    <div class="panel panel-primary" ng-controller="SharedScopeController">
        <div class="panel-heading">
            <div class="pull-right" uib-dropdown><a href="" uib-dropdown-toggle><i
                    class="glyphicon glyphicon-chevron-down"></i></a>
                <ul ng-cloak ng-controller="UserMenuController" uib-dropdown-menu>
                    <li><a href="" ng-click="showManageProjects()">Manage projects</a></li>
                    <li><a href="" ng-click="showLeaderboards()">Leaderboards</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Signed in as {{ my.username || '...'}}</li>
                    <li>
                        <a href="{{ my.logoutUrl }}" ng-if="my.logoutUrl">Sign out</a>
                        <a href="" ng-if="!my.logoutUrl">...</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 paddingbottom-md"
                     ng-controller="SectionNavController">
                    <ul class="nav nav-pills" ng-if="projectId">
                        <li ng-class="{active: sectionId === 'record'}"><a
                                ui-sref="section({projectId: projectId, sectionId: 'record'})">Record</a></li>
                        <li ng-class="{active: sectionId === 'review'}"><a
                                ui-sref="section({projectId: projectId, sectionId: 'review'})">Review</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-2" ng-controller="ProjectSidebarController">
                    <spinner show-when="isLoadingProjects()"></spinner>
                    <ul class="nav nav-pills nav-stacked hidden-xs">
                        <li ng-repeat="project in projects | orderBy : 'name'"
                            ui-sref-active="active"><a
                                ui-sref="section({projectId: project.id, sectionId: sectionId || 'record'})">{{
                            project.name }}<span class="pull-right visible-on-hover" ng-if="isOwner(project.id)"
                                                 ng-click="showEditProject(project.id, $event)">Edit</span></a></li>
                    </ul>
                    <select class="form-control visible-xs" ng-model="xsProjectSelect.projectId"
                            ng-options="project.id as project.name for project in projects | orderBy : 'name'"
                            ng-if="projects.length > 0"></select>
                    <p class="text-center padding-md visible-xs">
                        <a href="" class="btn btn-info"
                           ng-click="showEditProject(xsProjectSelect.projectId)"
                           ng-if="!isLoadingProjects() && projects.length > 0 && xsProjectSelect.projectId && isOwner(xsProjectSelect.projectId)">Edit
                            project</a>
                    </p>
                </div>
                <div class="col-sm-9 col-md-10">
                    <div ui-view></div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <small>&copy; 2016 Osha Fuangkasae</small>
        </div>
    </div>
</div>
<script src="components/angular/angular.min.js"></script>
<script src="components/angular-resource/angular-resource.min.js"></script>
<script src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="components/fastclick/lib/fastclick.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<!-- build:js myoo.min.js -->
<script src="spinner.js"></script>
<script src="loading-button.js"></script>
<script src="cooldown.js"></script>
<script src="sprite.js"></script>
<script src="app.js"></script>
<script src="record.js"></script>
<script src="review.js"></script>
<script src="manage-projects.js"></script>
<script src="create-project.js"></script>
<script src="services.js"></script>
<!-- /build -->
</body>
</html>