<div class="modal-header"><a class="close" ng-click="$dismiss()"><i>&times;</i></a><h4>Manage Subscriptions</h4></div>
<div class="modal-body"><p ng-if="!isLoadingProjects() && allProjects.length === 0" alert type="info">No projects yet.
    Be the first to <a href="" class="alert-link" ng-click="showCreateProject()">create one</a>.</p>
    <p class="text-center">
        <button class="btn btn-primary" ng-click="showCreateProject()">Create a new project</button>
    </p>
    <p class="text-center" ng-if="isLoadingProjects()"><i class="glyphicon glyphicon-refresh glyphicon-spin"></i></p>
    <div ng-if="allProjects.length > 0">
        <div class="form-group"><label>Filter</label><input class="form-control" placeholder="Type to filter"
                                                            ng-model="projectFilter"></div>
        <div class="poster thumbnail" ng-repeat="project in allProjects | filter : projectFilter | orderBy : 'name'"><h3
                class="poster-heading"><a href="" ng-click="userDidClickProject(project)">{{ project.name }}</a></h3>
            <div class="poster-body"><p>{{ project.description }}</p>
                <p class="text-right"><a href="" title="Edit this project" ng-if="isOwner(project)"
                                         ng-click="showEditProject(project)">Edit</a></p></div>
            <p class="poster-footer">
            <div class="btn-group btn-group-xs pull-right"><a class="btn btn-default"
                                                              title="Erase all progress on this project"
                                                              ng-click="showEraseConfirm(project)"><i
                    class="glyphicon glyphicon-erase"></i></a> <a class="btn btn-default"
                                                                  title="{{ isSubscribed(project) ? 'Unsubscribe from this project' : 'Subscribe to this project' }}"
                                                                  ng-click="toggleSubscription(project)"
                                                                  ng-class="{active: isSubscribed(project)}"><i
                    class="glyphicon glyphicon-ok bnl"></i>{{ isSubscribed(project) ? 'Unsubscribe' : 'Subscribe' }}</a>
            </div>
            </p></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close()">Done</button>
</div>