.padding-md, .poster {
    padding: 15px
}

.poster {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    vertical-align: top
}

.poster-heading {
    height: 60px;
    overflow: hidden
}

.poster-body {
    height: 50px;
    overflow: hidden
}

.poster-footer {
    height: 20px;
    overflow: hidden
}

@media (min-width: 320px) {
    .poster {
        width: 170px
    }
}

@media (min-width: 768px) {
    .poster {
        width: 170px
    }
}

@media (min-width: 992px) {
    .poster {
        width: 170px
    }
}

.achievementIcon {
    display: inline-block;
    width: 48px;
    height: 48px
}

.glyphicon-spin {
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.marginright-md {
    margin-right: 15px
}

.marginbottom-none {
    margin-bottom: 0
}

.bnl {
    margin-right: 4px
}