.padding-md {
    padding: 15px
}

.paddingbottom-md {
    padding-bottom: 15px;
}

.poster {
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 15px;
    vertical-align: top
}

.poster-heading {
    height: 60px;
    overflow: hidden
}

.poster-body {
    height: 75px;
    overflow: hidden
}

.poster-footer {
    height: 30px;
    overflow: hidden
}

.achievementList > .list-group-item {
    padding: 15px
}

@media (min-width: 320px) {
    .poster {
        width: 152px;
        padding: 10px
    }
}

@media (min-width: 768px) {
    .poster {
        width: 170px
    }
    .form-inline .input-group>.form-control.dateField {
        width: 100px
    }
}

@media (min-width: 992px) {
    .poster {
        width: 170px
    }
}

.achievementIcon {
    background-image: url(images/achievement-icon-spritesheet.png);
    display: inline-block;
    width: 48px;
    height: 48px
}

.iconRepeater .thumbnail {
    margin: 1px;
}

.iconContainer {
    height: 300px;
    overflow-y: scroll;
}

.glyphicon-spin {
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.marginright-md {
    margin-right: 15px
}

.marginbottom-none {
    margin-bottom: 0
}

.bnl {
    margin-right: 4px
}

.thumbnail {
    display: inline-block;
}

.barChart {
    height: 400px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.edit {
    visibility: hidden;
}

a:hover > .edit {
    visibility: visible;
}

.edit:hover {
    text-decoration: underline;
}